{% extends "layout.html" %}
{% block content %}
<h3>Luo uusi tapahtuma:</h3>
<form action="" method="POST">
    Tapahtuman nimi:
    <input type="text" name="name" minlength="1" maxlength="100" required>
    <br>
    <br>
    Tapahtuman kuvaus:
    <br>
    <textarea name="description" cols="30" rows="10" maxlength="2000"></textarea>
    <br>
    Päivämäärä: <br>
    <input type="date" name="date">
    <br>
    Aika: <br>
    <input type="time" name="time">
    <br>
    Paikka: <br>
    <input type="text" name="location" maxlength="100">
    <br><br>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="submit" value="Luo tapahtuma">
</form>
{% endblock %}