{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h1>PAKO Planner</h1>
<p><i>Pois Arjesta, Keskity Olennaiseen</i></p><p>Yhteisöllinen tapahtumasuunnittelija.</p>
{% if session.username %}
    Olet kirjautuneena sisään tunnuksella <b>{{session.username}}</b>
    <br> 
    <a href="/logout">Kirjaudu ulos</a>

{% else %}
    <form action="/login" method="POST">
        <label for="username" style="margin-right: 11.5px;">Tunnus:</label>
        <input type="text" name="username"><br>
        <label for="password" style="width: auto;">Salasana:</label>
        <input type="password" name="password">
        <input type="submit" value="Kirjaudu">
    </form>

    <a href="/register">Uusi käyttäjä</a>
{% endif %}

<hr>
Yksityisen tapahtuman kutsukoodi:
<form action="/private_key_results" method="GET">
    <input type="text" name="query" maxlength="100">
    <input type="submit" value="Hae">
</form>
{% if session.username %}
    <p><a href="/create_event">Luo uusi tapahtuma</a></p>
{% endif %}

{% if session.username %}
    {% if my_events %}
        <h3>Omat tapahtumat:</h3>
        <table>
            <th style="width: 50%; text-align: left;">Nimi</th><th>&#128197;</th><th>&#128101;</th><th>&#128273;</th>
            {% for event in my_events %}
                <tr>
                    <td><a href="/event/{{ event.id }}">{{ event.name }}</a></td>
                    <td style="text-align: center;">
                        {% if event.datetime %}
                            {{ event.datetime.strftime("%d.%m.") }}
                        {% endif %}
                    </td>
                    <td style="text-align: center;">{{ event.count }}</td>
                    <td style="text-align: center;">
                        {% if event.private_key %}
                            X
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    <hr>
    {% endif %}

    <h3>Omat osallistumiset:</h3>

    {% if enrolled_events %}
        <table>
            <tr>
                <th style="width: 50%; text-align: left;">Nimi</th><th>&#128197;</th><th>&#9875;</th><th>&#128101;</th>
            </tr>
            {% for event in enrolled_events %}
                <tr>
                    <td><a href="/event/{{ event.id }}">{{ event.name }}</a></td>
                    <td style="text-align: center;">
                    {% if event.datetime %}
                        {{ event.datetime.strftime("%d.%m.") }}
                    {% endif %}
                    </td>
                    <td style="text-align: center;">{{ event.username }}</td>
                    <td style="text-align: center;">{{ event.count }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <b>Et ole osallistunut yhteenkään tapahtumaan</b>
    {% endif %}
    <hr>
{% endif %}

<h3>Julkiset tapahtumat</h3>
<table>
    <tr>
        <th style="width: 50%; text-align: left;">Nimi</th><th>&#128197;</th><th>&#9875;</th><th>&#128101;</th>
    </tr>
    {% for event in events %}
        <tr>
            <td>
                <a href="/event/{{ event.id }}">{{ event.name }}</a>
            </td>
            <td style="text-align: center;">
                {% if event.datetime != None %}
                    {{ event.datetime.strftime("%d.%m.") }}
                {% endif %}
            </td>
            <td style="text-align: center;">
                {{ event.username }}
            </td>
            <td style="text-align: center;">
                {{ event.count }}
            </td>
        </tr>
    {% endfor %}
</table>
<hr>

<br>

<a href="/passed_events">Näytä menneet tapahtumat</a>

{% endblock %}