{% extends "layout.html" %}
{% block content %}
<h1>PAKO-app</h1>
<p><i>Pois Arjesta, Keskity Olennaiseen</i><br>Sovellus yhteisölliseen tapahtumasuunnitteluun.</p>
{% if session.username %}
    Olet kirjautuneena sisään tunnuksella <b>{{session.username}}</b>
    <br> 
    <a href="/logout">Kirjaudu ulos</a>

    {% else %}
    <table>
        <tr>
            <td>Käyttäjätunnus:<br>Salasana:</td>
            <td><form action="/login" method="POST">
                <input type="text" name="username">
                <br>
                <input type="password" name="password">
                <input type="submit" value="Kirjaudu">
            </form></td>
        </tr>
    </table>
    <a href="/register">Uusi käyttäjä</a>
{% endif %}
<hr>
Yksityisen tapahtuman kutsukoodi:
<form action="", method="POST">
    <input type="text" name="private_key" maxlength="100">
    <input type="submit" value="Hae">
</form>
{% if session.username %}
<p>
    <a href="/create_event">Luo uusi tapahtuma</a>
</p>
{% endif %}

{% if session.username %}
{% if my_events %}
<h3>Omat tapahtumat:</h3>
<table>
    <th>Nimi</th><th>Päivämäärä</th><th>Osallistujia</th><th>Yksityinen</th>
    {% for event in my_events %}
    <tr>
        <td><a href="/event/{{ event.id }}">{{ event.name }}</a></td>
        <td>
            {% if event.datetime %}
            {{ event.datetime.strftime("%d.%m.%Y") }}
            {% endif %}
        </td>
        <td style="text-align: center;">{{ event.count }}</td>
        <td style="text-align: center;">
            {% if event.private_key %}
            X
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<h3>Omat osallistumiset:</h3>
{% if enrolled_events %}
<table>
    <tr>
        <th>Nimi</th><th>Päivämäärä</th><th>Järjestäjä</th><th>Osallistujia</th>
    </tr>
    {% for event in enrolled_events %}
    <tr>
        <td><a href="/event/{{ event.id }}">{{ event.name }}</a></td>
        <td>
        {% if event.datetime %}
            {{ event.datetime.strftime("%d.%m.%Y") }}
        {% endif %}
        </td>
        <td>{{ event.username }}</td>
        <td style="text-align: center;">{{ event.count }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<b>Et ole osallistunut yhteenkään tapahtumaan</b>
{% endif %}
{% endif %}
<h3>Julkiset tapahtumat</h3>
<table>
    <tr>
        <th>Nimi</th><th>Päivämäärä</th><th>Järjestäjä</th><th>Osallistujia</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>
            <a href="/event/{{ event.id }}">{{ event.name }}</a>
        </td>
        <td>
            {% if event.datetime != None %}
            {{ event.datetime.strftime("%d.%m.%Y") }}
            {% endif %}
        </td>
        <td style="text-align: center;">
            {{ event.username }}
        </td>
        <td style="text-align: center;">
            {{ event.count }}
        </td>
    </tr>
    {% endfor %}
</table>
<!-- <h3>Yksityiset tapahtumat</h3>
<ul>
    {% for event in private_events %}
    <li>
        <a href="/event/{{ event.id }}">{{ event.name }}</a> <i>Created by {{ event.username }}</i>
    </li>
    {% endfor %}
</ul> -->

<br>
<a href="/passed_events">Näytä menneet tapahtumat</a>

{% endblock %}