<!-- <title>PAKO-app</title>

<h1>PAKO</h1>

{% if session.username %}
<p>Olet kirjautuneena sisään tunnuksella <b>{{session.username}}</b>
    <br> 
    <a href="/logout">Kirjaudu ulos</a>
</p>

{% else %}
<form action="/login" method="POST">
    Käyttäjätunnus:
    <input type="text" name="username">
    Salasana:
    <input type="password" name="password">
    <input type="submit" value="Kirjaudu">
</form>
<a href="/register">Uusi käyttäjä</a>
{% endif %}

<hr> -->

{% extends "layout.html" %}
{% block content %}
<h1>PAKO-app</h1>
{% if session.username %}
    Olet kirjautuneena sisään tunnuksella <b>{{session.username}}</b>
    <br> 
    <a href="/logout">Kirjaudu ulos</a>

    {% else %}
    <form action="/login" method="POST">
        Käyttäjätunnus:
        <input type="text" name="username">
        Salasana:
        <input type="password" name="password">
        <input type="submit" value="Kirjaudu">
    </form>
    <a href="/register">Uusi käyttäjä</a>
    {% endif %}
<hr>
<h3>Tapahtumat</h3>
<ul>
{% for event in events %}
<li>
<a href="/event/{{ event.id }}">{{ event.name }}</a> <i> Created by {{ event.username }} </i>
</li>
{% endfor %}
</ul>

{% if session.username %}
<p>
    <a href="/create_event">Luo uusi tapahtuma</a>
</p>
{% endif %}

{% endblock %}