{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}
{% include "event_layout.html" %}

<table>
    {% for message in messages %}
        <tr>
            <td>
                {{message.username}}: {{message.content}}
            </td>
            <td>
                {% if message.username == session.username and message.content != "VIESTI POISTETTU" %}
                    <form action="/delete_message" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                        <input type="hidden" name="event_id" value="{{ event_id }}">
                        <input type="hidden" name="message_id" value="{{ message.id }}">
                        <input type="hidden" name="sender" value="{{ message.username }}">
                        <input type="submit" value="Poista viesti">
                    </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>

{% if session.username in enrolments %}
    <form action="" method="POST">
        <input type="text" name="content" size="45" minlength="1" maxlength="50" autocomplete="off" required>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Lähetä">
    </form>
{% else %}
    <h4>Osallistu tapahtumaan osallistuaksesi keskusteluun</h4>
{% endif %}

{% endblock %}