{% extends "layout.html" %}
{% block content %}
{% include "event_layout.html" %}
{% for message in messages %}
{{message.username}}: {{message.content}} <br>
{% endfor %}
{% if session.username in enrolments %}
<form action="" method="POST">
    <input type="text" name="content" size="100" minlength="1" maxlength="100" autocomplete="off" required> <!-- tee niin että mukautuu selaimen leveyteen -->
    <!-- <textarea name="content" id="" cols="60" rows="1"></textarea> -->
    <input type="submit" value="Lähetä">
</form>
{% else %}
<h4>Osallistu tapahtumaan osallistuaksesi keskusteluun</h4>
{% endif %}
{% endblock %}