{% extends "layout.html" %}
{% block title %}Menneet tapahtumat{% endblock %}
{% block content %}

<h1>PAKO Planner</h1>
<hr>

<h3>Menneet tapahtumat</h3>
<ul>
    {% for event in passed_events %}
        <li>
            <a href="/event/{{ event.id }}">{{ event.name }}</a>
            {% if event.datetime %}
                - {{ event.datetime.strftime("%d.%m.%Y") }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
<h3>Menneet yksityistapahtumat</h3>
<ul>
    {% for event in passed_private_events %}
        <li>
            <a href="/event/{{ event.id }}">{{ event.name }}</a>
            {% if event.datetime %}
                    - {{ event.datetime.strftime("%d.%m.%Y") }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}