<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rekisteröidy</title>
</head>
<body>
    <a href="/">Home</a>
    <h1>PAKO-app</h1>
    <hr>

    <form action="" method="POST">
        Käyttäjätunnus:
        <br>
        <input type="text" name="username" minlength="3" maxlength="20" required>
        <br>
        Salasana:
        <br>
        <input type="password" name="password" minlength="3" maxlength="30" required>
        <br>
        Salasana uudestaan:
        <br>
        <input type="password" name="password_check" minlength="3" maxlength="30" required>
        <br>
        <input type="submit", value="Luo käyttäjätunnus">
</form> 
</body>
</html>
