{% extends "layout.html" %}
{% block content %}
{% include "event_layout.html" %}

<h4>Äänestykset</h4>

<table>
    <tr>
        <th>Kohde</th>
        {% if session.username in enrolments%}
        <th>Ääni</th>
        {% endif %}
        <th>Äänestystilanne / Annettuja ääniä</th>
    </tr>
    {% for votable in votables %}
    <tr>
        <td>{{ votable.item }}</td>
        {% if session.username in enrolments%}
        <td>
            {% if votable.id in already_voted %}
            <form action="" method="POST">
                <input type="hidden" name="votable_id" value={{ votable.id }}>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" name="vote" value="Vaihda">
            </form>
            {% else %}
            <form action="" method="POST">
                <input type="hidden" name="votable_id" value={{ votable.id }} >
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <input type="submit" name="vote" value="Jaa">
                <!-- <input type="submit" name="vote" values="Ihasama"> -->
                <input type="submit" name="vote" value="Ei">
            </form>
            {% endif %}
        </td>
        {% endif %}
        <td style="text-align: center;"> {% if votable.sum > 0 %}
            +
            {% endif %}
            {{ votable.sum }} / {{ votable.count }}</td>
        {% if rights %}
        <td><form action="/delete_votable" method="POST">
            <input type="hidden" name="votable_id" value="{{votable.id}}">
            <input type="hidden" name="event_id" value="{{event_id}}">
            <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
            <input type="submit" value="Poista kohde">
        </form></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br>
{% if session.username in enrolments %}
Lisää kohde:
<form action="/add_votable" method="POST">
    <input type="hidden" name="event_id" value={{ event_id }}>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    <input type="text" name="item" minlength="1" maxlength="50" required>
    <input type="submit" value="Lisää">
</form>
{% else %}
<h4>Osallistu tapahtumaan osallistuaksesi äänestykseen</h4>
{% endif %}

{% endblock %}